{% extends 'decort_shop/main.html' %}
{% load mptt_tags %}
{% load static i18n %}
{% load decort_shop_tag %}
{% block  title_page %}
<title>Cart - Torsion Group</title>
{% endblock title_page %}

{% block content_page %}

<div class="torsion-cart-area">
    <div class="container-fluid">
        <div class="row">
            <div class="col-12">

                <form action="javascript:void(0)">

                    <div class="table-content table-responsive">
                        <table class="table">
                            <thead>
                            <tr>
                                <th class="torsion-product-remove">{% trans 'Remove' %}</th>
                                <th class="torsion-product-thumbnail">{% trans 'Images' %}</th>
                                <th class="cart-product-name">{% trans 'Product' %}</th>
                                <th class="torsion-product-price">{% trans 'Unit Price' %}</th>
                                <th class="torsion-product-quantity">{% trans 'Quantity' %}</th>
                                <th class="torsion-product-subtotal">{% trans 'Total' %}</th>
                            </tr>
                            </thead>
                            <tbody>
                            {% for item in cart %}
                            {% with product=item.product %}
                            <tr>
                                <td class="torsion-product-remove"><a href="{% url 'cart:cart_remove' product.id%}">
                                    <i class="fa fa-trash" title="Remove"></i></a>
                                </td>
                                <td class="torsion-product-thumbnail"><a href="#">
                                    <img src=""></a>
                                </td>
                                <td class="torsion-product-name">
                                    <a href="{% url 'product_detail' product.id %}">{{ product.name }}</a></td>
                                <td class="torsion-product-price"><span class="amount">{{ item.price }}</span></td>
                                <td class="quantity">
                                    <label>Quantity</label>
                                    <div class="cart-plus-minus">
                                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                            {{ item.update_quantity_form.quantity }}
                                            {{ item.update_quantity_form.update }}
                                            <input type="submit" value="Update">
                                            {% csrf_token %}
                                        </form>
                                    </div>
                                </td>
                                <td class="product-subtotal"><span class="amount">{{ item.total_price }}</span></td>
                            </tr>
                            {% endwith %}
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>

                    <div class="row">
                        <div class="col-md-5 ml-auto">
                            <div class="cart-page-total">
                                <h2>{% trans 'Cart Totals' %}</h2>
                                <ul>
                                    <li>{% trans 'Total' %}:<span>{{ cart.get_total_price }}</span></li>
                                </ul>
                                <a class="header-search_btn" href="{% url 'orders:order_create' %}">
                                    <b>{% trans 'Proceed to checkout' %}</b></a>
                                <a href="{% url 'catalog_category_list' %}" class="button light">
                                    {% trans 'Continue shopping' %}</a>
                            </div>
                        </div>
                    </div>

                </form>

            </div>
        </div>
    </div>
</div>

{% endblock content_page %}