{% load static %}
{% load decort_shop_tag %}

<div class="col-lg-3 order-lg-1 order-2 mt-3">
    <div class="torsion-blog-sidebar-wrapper">

        <div class="torsion-blog-sidebar">
            <div class="search-form_area">
                <form class="search-form" action="javascript:void(0)">
                    <input type="text" class="search-field" placeholder="search news">
                    <button type="submit" class="search-btn"><i class="ion-ios-search"></i></button>
                </form>
            </div>
        </div>

        <div class="torsion-blog-sidebar">
            <h4 class="torsion-blog-sidebar-title">Recent Posts</h4>
            <div class="recent-post">
                <div class="recent-post_thumb">
                    <a href="blog-details-left-sidebar.html">
                        <img class="img-full" src="assets/images/blog/large-size/1.jpg"
                             alt="torsion's Blog Image">
                    </a>
                </div>
                <div class="recent-post_desc">
                    <span><a href="blog-details-left-sidebar.html">Ut eum laborum</a></span>
                    <span class="post-date">September 25,2019</span>
                </div>
            </div>
            <div class="recent-post">
                <div class="recent-post_thumb">
                    <a href="blog-details-left-sidebar.html">
                        <img class="img-full" src="assets/images/blog/large-size/2.jpg"
                             alt="torsion's Blog Image">
                    </a>
                </div>
                <div class="recent-post_desc">
                    <span><a href="blog-gallery-format.html">Soluta ad tempore</a></span>
                    <span class="post-date">September 24,2019</span>
                </div>
            </div>
            <div class="recent-post">
                <div class="recent-post_thumb">
                    <a href="blog-details-left-sidebar.html">
                        <img class="img-full" src="assets/images/blog/large-size/3.jpg"
                             alt="torsion's Blog Image">
                    </a>
                </div>
                <div class="recent-post_desc">
                    <span><a href="blog-details-left-sidebar.html">Possimus reiciendis</a></span>
                    <span class="post-date">September 24,2019</span>
                </div>
            </div>
            <div class="recent-post">
                <div class="recent-post_thumb">
                    <a href="blog-details-left-sidebar.html">
                        <img class="img-full" src="assets/images/blog/large-size/4.jpg"
                             alt="torsion's Blog Image">
                    </a>
                </div>
                <div class="recent-post_desc">
                    <span><a href="blog-details-left-sidebar.html">Tortor Posuere</a></span>
                    <span class="post-date">September 24,2019</span>
                </div>
            </div>
            <div class="recent-post">
                <div class="recent-post_thumb">
                    <a href="blog-details-left-sidebar.html">
                        <img class="img-full" src="assets/images/blog/large-size/5.jpg"
                             alt="torsion's Blog Image">
                    </a>
                </div>
                <div class="recent-post_desc">
                    <span><a href="blog-details-left-sidebar.html">Hello World!</a></span>
                    <span class="post-date">September 24,2019</span>
                </div>
            </div>
        </div>
        <div class="torsion-blog-sidebar">
            <h4 class="torsion-blog-sidebar-title">Comments</h4>
            <div class="recent-comment">
                <div class="user-img">
                    <img class="img-full" src="assets/images/blog/admin.jpg" alt="torsion's Blog Image">
                </div>
                <div class="user-info">
                    <span>HasTech say:</span>
                    <a href="javascipt:void(0)">Nulla auctor mi vel nisl...</a>
                </div>
            </div>
            <div class="recent-comment">
                <div class="user-img">
                    <img class="img-full" src="assets/images/blog/user.jpg" alt="torsion's Blog Image">
                </div>
                <div class="user-info">
                    <span>Kathy Young say:</span>
                    <a href="javascipt:void(0)">Mauris Venenatis Orci Quis...</a>
                </div>
            </div>
            <div class="recent-comment">
                <div class="user-img">
                    <img class="img-full" src="assets/images/blog/admin.jpg" alt="torsion's Blog Image">
                </div>
                <div class="user-info">
                    <span>HasTech say:</span>
                    <a href="javascipt:void(0)">Quisque Semper Nunc Vitae...</a>
                </div>
            </div>
            <div class="recent-comment">
                <div class="user-img">
                    <img class="img-full" src="assets/images/blog/user.jpg" alt="torsion's Blog Image">
                </div>
                <div class="user-info">
                    <span>Kathy Young say:</span>
                    <a href="javascipt:void(0)">Thanks for the information, anyway :)</a>
                </div>
            </div>
        </div>

    </div>
</div>



