{% extends 'decort_shop/account/main.html' %}
{% load static i18n %}
{% block  title_page %}
<title>Addresses - Torsion Group</title>
{% endblock title_page %}

{% block dashboard_page %}

<div>
    <div class="myaccount-address">
        <div class="row">
            <div class="col">
                <p><h4 class="small-title">{% trans 'SHIPPING ADDRESS' %}</h4></p>
                <p>{% trans 'For Рartner' %}: <b>{{ request.user.customer_id }}</b></p>
                <address>

                </address>
            </div>
        </div>
    </div>
</div>

{% endblock dashboard_page %}