{% extends 'decort_shop/account/main.html' %}
{% load static i18n %}
{% block  title_page %}
<title>Account - Torsion Group</title>
{% endblock title_page %}

{% block dashboard_page %}

<div class="tab-pane fade show active" id="account-dashboard" role="tabpanel"
     aria-labelledby="account-dashboard-tab">
    <div class="myaccount-dashboard">
        <p>{% trans 'Hello' %}, <b>{{ request.user }}</b></p>
        <p>{% trans 'E-mail' %}: <b>{{ request.user.email }}</b></p>
        <p>{% trans 'Рartner' %}: <b>{{ request.user.customer_id }}</b></p>
        <p>{% trans 'Phone' %}: <b>{{ request.user.phone }}</b></p>
        <p>{% trans 'Date of birth' %}: <b>{{ request.user.date_of_birth }}</b></p>
    </div>
</div>

{% endblock dashboard_page %}