{% extends 'decort_shop/main.html' %}
{% load static i18n %}
{% block  title_page %}
<title>Compare - Torsion Group</title>
{% endblock title_page %}

{% block content_page %}

<div class="compare-area">
    <div class="container-fluid">
        <div class="compare-table table-responsive">
            <table class="table table-bordered table-hover mb-0">
                <tbody>
                <tr>
                    <th class="compare-column-titles">Image</th>
                    <td class="compare-column-productinfo">
                        <div class="compare-pdoduct-image">
                            <a href="#">
                                <img src=" ">
                            </a>
                            <a href="#" class="torsion-compare_btn">
                                <span>ADD TO CART</span>
                            </a>
                        </div>
                    </td>
                    <td class="compare-column-productinfo">
                        <div class="compare-pdoduct-image">
                            <a href="#">
                                <img src=" ">
                            </a>
                            <a href="cart.html" class="torsion-compare_btn">
                                <span>ADD TO CART</span>
                            </a>
                        </div>
                    </td>
                </tr>
                <tr>
                    <th>Product Name</th>
                    <td>
                        <h5 class="compare-product-name"><a href="product_detail.html">Consequuntur deleniti</a>
                        </h5>
                    </td>
                    <td>
                        <h5 class="compare-product-name"><a href="product_detail.html">Velit perspiciatis</a></h5>
                    </td>
                </tr>
                <tr>
                    <th>Description</th>
                    <td>There are two kinds of Repellat in quo possimus earum, iste ducimus corporis unde laudantium
                        magnam iure ullam obcaecati provident sapiente officiis eos amet accusamus.
                    </td>
                    <td>There are two kinds of Repellat in quo possimus earum, iste ducimus corporis unde laudantium
                        magnam iure ullam obcaecati provident sapiente officiis eos amet accusamus.
                    </td>
                </tr>
                <tr>
                    <th>Price</th>
                    <td>$80</td>
                    <td>$120</td>
                </tr>
                <tr>
                    <th>Color</th>
                    <td>Black</td>
                    <td>Red</td>
                </tr>
                <tr>
                    <th>Size</th>
                    <td>Medium</td>
                    <td>Large</td>
                </tr>
                <tr>
                    <th>Stock</th>
                    <td>In Stock</td>
                    <td>Stock Out</td>
                </tr>
                <tr>
                    <th>Rating</th>
                    <td>
                        <div class="rating-box">
                            <ul>
                                <li><i class="ion-android-star"></i></li>
                                <li><i class="ion-android-star"></i></li>
                                <li><i class="ion-android-star"></i></li>
                                <li><i class="ion-android-star"></i></li>
                                <li><i class="ion-android-star"></i></li>
                            </ul>
                        </div>
                    </td>
                    <td>
                        <div class="rating-box">
                            <ul>
                                <li><i class="ion-android-star"></i></li>
                                <li><i class="ion-android-star"></i></li>
                                <li><i class="ion-android-star"></i></li>
                                <li><i class="ion-android-star"></i></li>
                                <li><i class="ion-android-star"></i></li>
                            </ul>
                        </div>
                    </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

{% endblock content_page %}