{% load mptt_tags %}
{% load static i18n %}
{% load decort_shop_tag %}

<div class="col-lg-3 col-md-5 order-2 order-lg-1 order-md-1">
    <div class="torsion-sidebar-catagories_area">

        <div class="category-module torsion-sidebar_categories">
            <div class="category-module_heading">
                <h5><a href="{% url 'catalog_category_list' %}">{% trans 'Categories' %}</a></h5>
            </div>

            <div class="module-body" id="navbarCollapse">
                {% get_catalogcategories as catalog_category_list %}
                {% recursetree catalog_category_list %}
                <ul class="module-list_item">
                    <li>
                        <a class="nav-link nav-link-collapse active"
                           data-toggle="collapse" data-target="#collapseSubItems{{ node.id }}"
                           aria-controls="collapseSubItems{{ node.id }}" aria-expanded="false"
                           href="{% url 'catalog_product_detail' node.url %}">
                            {{ node.name }}
                        </a>
                        {% if not node.is_leaf_node %}
                        {% for child in node.children.all %}
                        <ul class="module-sub-list_item nav-second-level collapse"
                            id="collapseSubItems{{ node.id }}">
                            <li>
                                <a href="{% url 'catalog_product_detail' child.url %}">
                                    {{ child.name }}
                                </a>
                            </li>
                        </ul>
                        {% endfor %}
                        {% endif %}
                    </li>
                </ul>
                {% endrecursetree %}
            </div>
        </div>

        <form action="#" method="get">
            <div class="torsion-sidebar_categories">
                <div class="torsion-categories_title">
                    <h5>{% trans 'Brands' %}</h5>
                </div>
                {% for brands in view.get_brands %}
                <ul class="sidebar-checkbox_list">
                    <li>
                        <a href="#">{{ brands.name}} </a>
                    </li>
                </ul>
                {% endfor %}
            </div>
        </form>

        <div class="torsion-sidebar_categories">
            <div class="torsion-categories_title">
                <h5>{% trans 'Offer' %}</h5>
            </div>
            {% for offers in view.get_offers %}
            <ul class="sidebar-checkbox_list">
                <li>
                    <a href="#">{{ offers.name}} </a>
                </li>
            </ul>
            {% endfor %}
        </div>

        <div class="torsion-sidebar_categories">
            <div class="torsion-categories_title">
                <h5>{% trans 'Сar Manufacturer' %}</h5>
            </div>
            {% for manufacturer_name in get_manufacturer_name %}
            <ul class="sidebar-checkbox_list">
                <li>
                    <a href="#">{{ manufacturer_name.name }} </a>
                </li>
            </ul>
            {% endfor %}
        </div>


        {% if request.user.is_authenticated %}
        <div class="torsion-sidebar_categories">
            <div class="torsion-categories_title">
                <h5>{% trans 'Price' %}</h5>
            </div>
            <div class="price-filter">
                <div id="slider-range"></div>
                <div class="price-slider-amount">
                    <div class="label-input">
                        <label>price : </label>
                        <input type="text" id="amount" name="price" placeholder="Add Your Price"/>
                    </div>
                    <!-- <button type="button">Filter</button> -->
                </div>
            </div>
        </div>
        {% endif %}

    </div>
</div>
