{% extends 'decort_shop/product/main.html' %}
{% load mptt_tags %}
{% load static %}
{% load decort_shop_tag %}
{% block  title_page %}
<title>Shop - Torsion Group | {{ product.name }}</title>
{% endblock title_page %}

{% block product_page %}

<div class="col-lg-9 col-md-7 order-1 order-lg-2 order-md-2">
    <div class="breadcrumb-area">
        <div class="container">
            <div class="breadcrumb-content">
                <ul>
                    <li class="breadcrumb-item"><a href="{% url 'home' %}">Home</a></li>
                    <li class="breadcrumb-item">
                        <a href="{% url 'catalog_category_list' %}">Catalog</a>
                    </li>
                    <li class="breadcrumb-item">
                        <a href="#">{{ product.category_id.name }}</a>
                    </li>

                </ul>
            </div>
        </div>
    </div>

    <div class="sp-area sp-tab-style_left sp-tab-style_right">
        <div class="container-fluid">
            <div class="sp-nav">
                <div class="row">
                    <div class="col-lg-5">
                        <div class="sp-img_area">
                            <div class="sp-img_slider slick-img-slider torsion-slick-slider"
                                 data-slick-options='{ "slidesToShow": 1, "arrows": false, "fade": true,
                                 "draggable": false, "swipe": false, "asNavFor": ".sp-img_slider-nav" }'>
                                <div class="single-slide red zoom">
                                    <img src=" ">
                                </div>
                            </div>
                            <div class="sp-img_slider-nav slick-slider-nav torsion-slick-slider slider-navigation_style-4"
                                 data-slick-options='{ "slidesToShow": 3, "asNavFor": ".sp-img_slider",
                                    "focusOnSelect": true, "arrows" : true, "vertical" : true }'>
                                <div class="single-slide red">
                                    <img src=" ">
                                </div>
                                <div class="single-slide orange">
                                    <img src=" ">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <div class="sp-content">
                            <div class="sp-heading">
                                <h5><a href="#"><h4>{{ product.name }}</h4></a></h5>
                            </div>
                            <hr>
                            <div class="sp-essential_stuff">
                                <ul>
                                    <li>Brands: {{ product.brand_id.name }}</li>
                                    <li>Vendor Code: {{ product.article }}</li>
                                    <li>Product Specification: {{ product.specification }}</li>
                                    <li>Availability:</li>
                                    <li>Сar Manufacturer: {{ product.manufacturer_name }}</li>
                                    <li>Car Model: {{ product.model_name }}</li>
                                    <li>Weight: {{ product.weight }} kg</li>
                                    <li>Pieces per package: {{ product.pack_qty }}</li>
                                </ul>
                            </div>

                            <hr>
                            {% if request.user.is_authenticated %}
                            <div class="sp-essential_stuff">
                                <ul>
                                    <li><h5>Price: {{ product.price }}</h5></li>
                                </ul>
                            </div>
                            <hr>
                            <div class="qty-btn_area">
                                <ul>
                                    <li>
                                        <form action="{% url 'cart:cart_add' product.id %}" method="post">
                                            {{ cart_product_form }}
                                            {% csrf_token %}
                                    <li><a class="qty-cart_btn">
                                        <input type="submit" value="Add To Cart">
                                    </a></li>
                                    </form>
                                    </li>
                                    <li><a class="qty-wishlist_btn" href="#" data-toggle="tooltip"
                                           title="Add To Wishlist"><i class="ion-android-favorite-outline"></i></a>
                                    </li>
                                    <li><a class="qty-compare_btn" href="#" data-toggle="tooltip"
                                           title="Compare This Product"><i class="ion-ios-shuffle-strong"></i></a>
                                    </li>
                                </ul>
                            </div>
                            {% endif %}

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sp-product-tab_area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-12">
                    <div class="sp-product-tab_nav">
                        <div class="product-tab">
                            <ul class="nav product-menu">
                                <li><a class="active" data-toggle="tab" href="#description"><span>Description</span></a>
                                </li>
                                <li><a data-toggle="tab" href="#cross_code"><span>Cross Code</span></a></li>
                                <li><a data-toggle="tab" href="#specification"><span>Specification</span></a></li>
                                <li><a data-toggle="tab" href="#reviews"><span>Reviews</span></a></li>
                                <li><a data-toggle="tab" href="#tags"><span>Tags</span></a></li>
                            </ul>
                        </div>

                        <div class="tab-content torsion-tab_content">
                            <div id="description" class="tab-pane active show" role="tabpanel">
                                <div class="product-description">
                                    <ul>
                                        {{ product.advanced_description|safe }}
                                    </ul>
                                </div>
                            </div>
                            <div id="cross_code" class="tab-pane" role="tabpanel">
                                <div class="product-description">
                                    <ul>
                                        {{ product.advanced_description|safe }}
                                    </ul>
                                </div>
                            </div>

                            <div id="specification" class="tab-pane" role="tabpanel">
                                <table class="table table-bordered specification-inner_stuff">
                                    <tbody>
                                    <tr>
                                        <td colspan="2"><strong>Memory</strong></td>
                                    </tr>
                                    </tbody>
                                    <tbody>
                                    <tr>
                                        <td>test 1</td>
                                        <td>8gb</td>
                                    </tr>
                                    </tbody>
                                </table>
                            </div>

                            <div id="reviews" class="tab-pane" role="tabpanel">
                                <div class="tab-pane active" id="tab-review">
                                    <form class="form-horizontal" id="form-review">
                                        <div id="review">
                                            <table class="table table-striped table-bordered">
                                                <tbody>
                                                <tr>
                                                    <td style="width: 50%;"><strong>Customer</strong></td>
                                                    <td class="text-right">15/09/20</td>
                                                </tr>
                                                <tr>
                                                    <td colspan="2">
                                                        <p>Good product! Thank you very much</p>
                                                        <div class="rating-box">
                                                            <ul>
                                                                <li><i class="ion-android-star"></i></li>
                                                                <li><i class="ion-android-star"></i></li>
                                                                <li><i class="ion-android-star"></i></li>
                                                                <li><i class="ion-android-star"></i></li>
                                                                <li><i class="ion-android-star"></i></li>
                                                            </ul>
                                                        </div>
                                                    </td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </div>
                                        <h2>Write a review</h2>
                                        <div class="form-group required">
                                            <div class="col-sm-12 p-0">
                                                <label>Your Email <span class="required">*</span></label>
                                                <input class="review-input" type="email" name="con_email" id="con_email"
                                                       required>
                                            </div>
                                        </div>
                                        <div class="form-group required second-child">
                                            <div class="col-sm-12 p-0">
                                                <label class="control-label">Share your opinion</label>
                                                <textarea class="review-textarea" name="con_message"
                                                          id="con_message"></textarea>
                                            </div>
                                        </div>
                                        <div class="form-group last-child required">
                                            <div class="col-sm-12 p-0">
                                                <div class="your-opinion">
                                                    <label>Your Rating</label>
                                                    <span>
                                                    <select class="star-rating">
                                                        <option value="1">1</option>
                                                        <option value="2">2</option>
                                                        <option value="3">3</option>
                                                        <option value="4">4</option>
                                                        <option value="5">5</option>
                                                    </select>
                                                </span>
                                                </div>
                                            </div>
                                            <div class="torsion-btn-ps_right">
                                                <button class="torsion-btn-2">Continue</button>
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>

                            <div id="tags" class="tab-pane" role="tabpanel">
                                <div class="product-description">
                                    <ul>
                                        {{ product.keywords|safe }}
                                    </ul>
                                </div>
                            </div>


                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="torsion-brand_area">
        <div class="container-fluid">

        </div>
    </div>

</div>

{% endblock product_page %}