{% load static %}
{% load decort_shop_tag %}

<div class="col-lg-3 col-md-5 order-2 order-lg-1 order-md-1">

    <div class="torsion-sidebar-catagories_area">

        <div class="category-module torsion-sidebar_categories">

            <div class="category-module_heading">
                <h5>Categories</h5>
            </div>
            <div class="module-body">
                {% get_catalogcategories as catalogcategories %}
                {% for catalogcategory in catalogcategories %}
                {% if catalogcategory.enabled %}
                <ul class="module-list_item">
                    <li>
                        <a class="active"
                           href="{{ catalogcategory.get_absolute_url }}">{{ catalogcategory.name }}</a>
                        <ul class="module-sub-list_item">
                            <li>
                                <a href="javascript:void(0)">!!!!!!!</a>
                            </li>
                        </ul>
                    </li>
                </ul>
                {% endif %}
                {% endfor %}
            </div>

        </div>

        <form action="{% url 'filter' %} " method="get">
            <div class="torsion-sidebar_categories">
                <div class="torsion-categories_title">
                    <h5>Brands</h5>
                </div>
                <ul class="sidebar-checkbox_list">
                    <li>
                        <a href="#">brand.name</a>
                    </li>
                    {% for brand in views.get_brands %}
                    <li>
                        <a href="#">{{ brand.name }}</a>
                    </li>
                    {% endfor %}
                </ul>
            </div>
        </form>

        <div class="torsion-sidebar_categories">
            <div class="torsion-categories_title">
                <h5>Price</h5>
            </div>
            <div class="price-filter">
                <div id="slider-range"></div>
                <div class="price-slider-amount">
                    <div class="label-input">
                        <label>price : </label>
                        <input type="text" id="amount" name="price" placeholder="Add Your Price"/>
                    </div>
                    <!-- <button type="button">Filter</button> -->
                </div>
            </div>
        </div>

        <div class="torsion-sidebar_categories">
            <div class="torsion-categories_title">
                <h5>Offer</h5>
            </div>
            <ul class="sidebar-checkbox_list">
                {% for offer in views.get_offers %}
                <li>
                    <a href=" ">Offer <span>1</span></a>
                </li>
                {% endfor %}
            </ul>
        </div>

    </div>

    <div class="sidebar-banner_area">
        <div class="banner-item img-hover_effect">
            <a href="javascript:void(0)">
                <img src="assets/images/shop/1.jpg" alt="torsion's Shop Banner Image">
            </a>
        </div>
    </div>

</div>