{% load static %}
{% load decort_shop_tag %}

<div class="torsion-footer_area">
    <div class="footer-middle_area">
        <div class="container-fluid">
            <div class="row">
                <div class="col-lg-4">
                    <div class="footer-widgets_info">
                        <div class="footer-widgets_logo">
                            <a href="#">
                                <img src="{% static 'img/torsion_logo.png' %}">
                            </a>
                        </div>
                        <div class="widget-short_desc">
                            <p>Torsion Group LLC is a national company specializing in the wholesale of automotive
                                parts for a wide range of vehicles.
                            </p>
                        </div>
                        <div class="widgets-essential_stuff">
                            <ul>
                                <li class="torsion-address">
                                    <span>Address:</span> 03061 Ukraine, Kyiv, Otradny Avenue, 103
                                </li>
                                <li class="torsion-phone"><span>Call
                                        Us:</span> <a href="tel://+380672244702">+38 067 22 44 702</a>
                                </li>
                                <li class="torsion-email"><span>Email:</span> <a
                                        href="mailto://office@torsion.kiev.ua">office@torsion.kiev.ua</a></li>
                            </ul>
                        </div>
                        <div class="torsion-social_link">
                            <ul>
                                <li class="facebook">
                                    <a href="https://www.facebook.com/torsiongroup/" data-toggle="tooltip"
                                       target="_blank"
                                       title="Facebook">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-lg-8">
                    <div class="footer-widgets_area">
                        <div class="row">
                            <div class="col-lg-4 col-md-6">
                                <div class="footer-widgets_title">
                                    <h3>Information</h3>
                                </div>
                                <div class="footer-widgets">
                                    <ul>
                                        <li><a href="javascript:void(0)">About Us</a></li>
                                        <li><a href="javascript:void(0)">Delivery Information</a></li>
                                        <li><a href="javascript:void(0)">Privacy Policy</a></li>
                                        <li><a href="javascript:void(0)">Terms & Conditions</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="footer-widgets_title">
                                    <h3>Customer Service</h3>
                                </div>
                                <div class="footer-widgets">
                                    <ul>
                                        <li><a href="javascript:void(0)">Contact Us</a></li>
                                        <li><a href="javascript:void(0)">Returns</a></li>
                                        <li><a href="javascript:void(0)">Site Map</a></li>
                                    </ul>
                                </div>
                            </div>
                            <div class="col-lg-4 col-md-6">
                                <div class="footer-widgets_title">
                                    <h3>My Account</h3>
                                </div>
                                <div class="footer-widgets">
                                    <ul>
                                        <li><a href="javascript:void(0)">My Account</a></li>
                                        <li><a href="javascript:void(0)">Order History</a></li>
                                        <li><a href="javascript:void(0)">Wish List</a></li>
                                        <li><a href="javascript:void(0)">Newsletter</a></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>