{% load mptt_tags %}
{% load static i18n %}
{% load decort_shop_tag %}

<header class="header-main_area bg--sapphire">

    <div class="header-top_area d-lg-block d-none">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-7 col-lg-8">
                    <div class="main-menu_area position-relative">
                        <nav class="main-nav">
                            <ul>
                                <li class=""><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                                <li class=""><a href="{% url 'catalog_category_list' %}">{% trans 'Shop' %}</a></li>
                                <li class=""><a href="{% url 'about-us' %}">{% trans 'About Us' %}</a></li>
                                <li class=""><a href="{% url 'contacts' %}">{% trans 'Contacts' %}</a></li>
                                <li class=""><a href="{% url 'news' %}">{% trans 'News' %}</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>
                <div class="col-xl-5 col-lg-4">
                    <div class="ht-right_area">
                        <div class="ht-menu">
                            <ul>{% if request.user.is_authenticated %}
                                {% get_currency as currency_list %}
                                {% for currencies in currency_list %}
                                <li><a href="javascript:void(0)">{% trans 'Currency' %} <i class="fa fa-chevron-down"></i></a>
                                    <ul class="ht-dropdown ht-currency">
                                        <li class="active"><a href="#">$ {{ currencies.rate }}</a></li>
                                    </ul>
                                </li>
                                {% endfor %}
                                <li><a href="javascript:void(0)">{% trans 'Language' %} <i class="fa fa-chevron-down"></i></a>
                                    <form action="{% url 'set_language' %}" method="post">
                                        {% csrf_token %}
                                        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                                        <ul class="ht-dropdown">
                                            {% get_current_language as LANGUAGE_CODE %}
                                            {% get_available_languages as LANGUAGES %}
                                            {% get_language_info_list for LANGUAGES as languages %}
                                            {% for language in languages %}
                                            <li class="active">
                                                <button type="submit" name="language"
                                                   value="{{ language.code }}"
                                                   class="{% if language.code == LANGUAGE_CODE %}selected{% endif %}">
                                                   {{ language.name_local }}
                                                </button>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </form>
                                </li>
                                <li>
                                    <a href="{% url 'dashboard' %}">{{ request.user }}
                                        <i class="fa fa-chevron-down"></i></a>
                                    <ul class="ht-dropdown ht-my_account">
                                        <li class="active"><a href="{% url 'logout' %}">{% trans 'Log out' %}</a></li>
                                    </ul>
                                </li>
                                {% else %}
                                <li><a href="javascript:void(0)">{% trans 'Language' %} <i class="fa fa-chevron-down"></i></a>
                                    <form action="{% url 'set_language' %}" method="post">
                                        {% csrf_token %}
                                        <input name="next" type="hidden" value="{{ request.get_full_path|slice:'3:' }}" />
                                        <ul class="ht-dropdown">
                                            {% get_current_language as LANGUAGE_CODE %}
                                            {% get_available_languages as LANGUAGES %}
                                            {% get_language_info_list for LANGUAGES as languages %}
                                            {% for language in languages %}
                                            <li class="active">
                                                <button type="submit" name="language"
                                                   value="{{ language.code }}"
                                                   class="{% if language.code == LANGUAGE_CODE %}selected{% endif %}">
                                                   {{ language.name_local }}
                                                </button>
                                            </li>
                                            {% endfor %}
                                        </ul>
                                    </form>
                                </li>
                                <li><a href="{% url 'dashboard' %}">{% trans 'Login to B2B' %} <i class="fa fa-chevron-down"></i></a>
                                    <ul class="ht-dropdown ht-my_account">
                                        <li class="active"><a href="{% url 'login' %}">{% trans 'Login to B2B' %}</a></li>
                                    </ul>
                                </li>
                                {% endif %}
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-top_area header-sticky bg--sapphire">
        <div class="container-fluid">
            <div class="row">
                <div class="col-xl-8 col-lg-7 d-lg-block d-none">
                    <div class="main-menu_area position-relative">
                        <nav class="main-nav">
                            <ul>
                                <li class=""><a href="{% url 'home' %}">{% trans 'Home' %}</a></li>
                                <li class=""><a href="{% url 'catalog_category_list' %}">{% trans 'Shop' %}</a></li>
                                <li class=""><a href="{% url 'about-us' %}">{% trans 'About Us' %}</a></li>
                                <li class=""><a href="{% url 'contacts' %}">{% trans 'Contacts' %}</a></li>
                                <li class=""><a href="{% url 'news' %}">{% trans 'News' %}</a></li>
                            </ul>
                        </nav>
                    </div>
                </div>

                <div class="col-sm-3 d-block d-lg-none">
                    <div class="header-logo_area header-sticky_logo">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'img/torsion_logo.png' %}">
                        </a>
                    </div>
                </div>

                <div class="col-xl-4 col-lg-5 col-sm-9">
                    <div class="header-right_area">
                        <ul>
                            <li class="mobile-menu_wrap d-flex d-lg-none">
                                <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn color--white">
                                    <i class="ion-navicon"></i>
                                </a>
                            </li>
                            {% if request.user.is_authenticated %}
                            <li class="minicart-wrap">
                                <a href="#miniCart" class="minicart-btn toolbar-btn">
                                    <div class="minicart-count_area">
                                        <span class="item-count"> </span>
                                        <i class="ion-bag"></i>
                                    </div>
                                    <div class="minicart-front_text">
                                        <span>{% trans 'Cart' %}:</span>
                                        <span class="total-price">{{ cart.get_total_price }}</span>
                                    </div>
                                </a>
                            </li>
                            {% endif %}
                            <li class="contact-us_wrap">
                                <a href="tel://+380672244702"><i class="ion-android-call"></i>+38 067 22 44 702</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="header-middle_area">
        <div class="container-fluid">
            <div class="row">

                <div class="custom-logo_col col-10">
                    <div class="header-logo_area">
                        <a href="{% url 'home' %}">
                            <img src="{% static 'img/torsion_logo.png' %}">
                        </a>
                    </div>
                </div>

                <div class="custom-category_col col-12">
                    <div class="category-menu category-menu-hidden">
                        <div class="category-heading">
                            <h2 class="categories-toggle">
                                <span>{% trans 'CATALOG' %}</span>
                            </h2>
                        </div>
                        <div id="cate-toggle" class="category-menu-list">
                            <ul>
                                {% get_catalogcategories as catalog_category_list %}
                                {% recursetree catalog_category_list %}
                                <li class="right-menu">
                                    <a href="{% url 'catalog_product_detail' node.url %}">{{ node.name }}</a>
                                    {% if not node.is_leaf_node %}
                                    <ul class="cat-dropdown">
                                        <li>
                                            {{ children }}
                                        </li>
                                    </ul>
                                    {% endif %}
                                </li>
                                {% endrecursetree %}
                            </ul>
                        </div>
                    </div>
                </div>

                <div class="custom-search_col col-12">
                    <div class="hm-form_area">
                        <form action="#" class="hm-searchbox">
                            <select class="nice-select select-search-category">
                                <option value="0">All Categories</option>

                            </select>
                            <input type="text" placeholder="Enter your search key ...">
                            <button class="header-search_btn" type="submit">
                                <i class="ion-ios-search-strong"><span>{% trans 'Search' %}</span></i></button>
                        </form>
                    </div>
                </div>

                <div class="custom-cart_col col-12">
                    <div class="header-right_area">
                        <ul>
                            <li class="mobile-menu_wrap d-flex d-lg-none">
                                <a href="#mobileMenu" class="mobile-menu_btn toolbar-btn color--white">
                                    <i class="ion-navicon"></i>
                                </a>
                            </li>
                            {% if request.user.is_authenticated %}
                            <li class="minicart-wrap">
                                <a href="#miniCart" class="minicart-btn toolbar-btn">
                                    <div class="minicart-count_area">
                                        {% for item in cart %}
                                        {% with product=item.product %}
                                        <span class="item-count"> </span>
                                        <i class="ion-bag"></i>
                                        {% endwith %}
                                        {% endfor %}
                                    </div>
                                    <div class="minicart-front_text">
                                        <span>{% trans 'Cart' %}:</span>
                                        <span class="total-price">{{ cart.get_total_price }}</span>
                                    </div>
                                </a>
                            </li>
                            {% endif %}
                            <li class="contact-us_wrap">
                                <a href="tel://+380672244702"><i class="ion-android-call"></i>+38 067 22 44 702</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {% if request.user.is_authenticated %}
    <div class="offcanvas-minicart_wrapper" id="miniCart">
        <div class="offcanvas-menu-inner">
            <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
            <div class="minicart-content">
                <div class="minicart-heading">
                    <h4>{% trans 'Shopping Cart' %}</h4>
                </div>
                {% for item in cart %}
                {% with product=item.product %}
                <ul class="minicart-list">
                    <li class="minicart-product">
                        <a class="product-item_remove" href="{% url 'cart:cart_remove' product.id%}">
                            <i class="ion-android-close"></i></a>
                        <div class="product-item_img">
                            <img src="">
                        </div>
                        <div class="product-item_content">
                            <a class="product-item_title" href="{% url 'product_detail' product.id %}">
                                {{ item.product.name }}</a>
                            <span class="product-item_quantity">
                                {{ item.quantity }} x {{ item.price }} = {{ item.total_price }}</span>
                        </div>
                    </li>
                </ul>
                {% endwith %}
                {% endfor %}
            </div>
            <div class="minicart-item_total">
                <span>{% trans 'Total' %}:</span>
                <span class="ammount">{{ cart.get_total_price }}</span>
            </div>
            <div class="minicart-btn_area">
                <a href="{% url 'cart:cart_detail' %}"
                   class="torsion-btn torsion-btn_dark torsion-btn_fullwidth">{% trans 'Cart' %}</a>
            </div>
            <div class="minicart-btn_area">
                <a href="{% url 'orders:order_create' %}" class="torsion-btn torsion-btn_dark torsion-btn_fullwidth">{% trans 'Checkout' %}</a>
            </div>
        </div>
    </div>
    {% endif %}

    <div class="mobile-menu_wrapper" id="mobileMenu">
        <div class="offcanvas-menu-inner">
            <div class="container">
                <a href="#" class="btn-close"><i class="ion-android-close"></i></a>
                <div class="offcanvas-inner_search">
                    <form action="#" class="inner-searchbox">
                        <input type="text" placeholder="Search for item...">
                        <button class="search_btn" type="submit"><i class="ion-ios-search-strong"></i></button>
                    </form>
                </div>
                <nav class="offcanvas-navigation">
                    <ul class="mobile-menu">
                        <li class="menu-item-has-children active"><a href="{% url 'home' %}">
                            <span class="mm-text">Home</span></a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="{% url 'catalog_category_list' %}">
                                <span class="mm-text">Shop</span>
                            </a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="{% url 'about-us' %}">
                                <span class="mm-text">About Us</span>
                            </a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="{% url 'contacts' %}">
                                <span class="mm-text">Contacts</span>
                            </a>
                        </li>
                        <li class="menu-item-has-children">
                            <a href="{% url 'news' %}">
                                <span class="mm-text">News</span>
                            </a>
                        </li>

                        <li class="menu-item-has-children">
                            <a href="#">
                                <span class="mm-text">Login to B2B</span>
                            </a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">
                                        <span class="mm-text">My Account</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mm-text">Login | Register</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mm-text">Wishlist</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mm-text">Cart</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
                <nav class="offcanvas-navigation user-setting_area">
                    <ul class="mobile-menu">
                        <li class="menu-item-has-children active">
                            <a href="javascript:void(0)">
                                <span class="mm-text">User Setting</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="#">
                                        <span class="mm-text">My Account</span>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <span class="mm-text">Login | Register</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="javascript:void(0)"><span
                                class="mm-text">Currency</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="mm-text">USD $</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                        <li class="menu-item-has-children"><a href="javascript:void(0)"><span
                                class="mm-text">Language</span></a>
                            <ul class="sub-menu">
                                <li>
                                    <a href="javascript:void(0)">
                                        <span class="mm-text">English</span>
                                    </a>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
        </div>
    </div>

</header>