{% extends 'decort_shop/account/main.html' %}
{% load static i18n %}
{% block  title_page %}
<title>Reset your password - Torsion Group</title>
{% endblock title_page %}

{% block dashboard_page %}

<div>
    <div class="myaccount-details">

        <h1>Reset your password</h1>
        <p>We've emailed you instructions for setting your password.</p>
        <p>If you don't receive an email, please make sure you've
            entered the address you registered with.</p>

    </div>
</div>

{% endblock dashboard_page %}