{% extends 'decort_shop/account/main.html' %}
{% load static %}
{% block  title_page %}
<title>Change you password - Torsion Group</title>
{% endblock title_page %}

{% block dashboard_page %}

<div>
    <div class="myaccount-details">

        <h1>Change you password</h1>
        <p>Use the form below to change your password.</p>
        <form action="#" class="torsion-form" method="post">
            <div class="torsion-form-inner">
                <div class="single-input">
                    {{ form.as_p }}
                    <p><input type="submit" value="Change"></p>
                    {% csrf_token %}
                </div>
            </div>
        </form>

    </div>
</div>


{% endblock dashboard_page %}