{% extends 'decort_shop/account/main.html' %}
{% load static %}
{% block  title_page %}
<title>Change you password - Torsion Group</title>
{% endblock title_page %}

{% block dashboard_page %}

<div class="tab-pane fade" id="account-details" role="tabpanel" aria-labelledby="account-details-tab">
    <div class="myaccount-details">

        <form action="#" class="torsion-form">
            <div class="torsion-form-inner">
                <div class="single-input single-input-half">
                    <label for="account-details-firstname">First Name*</label>
                    <input type="text" id="account-details-firstname">
                </div>
                <div class="single-input single-input-half">
                    <label for="account-details-lastname">Last Name*</label>
                    <input type="text" id="account-details-lastname">
                </div>
                <div class="single-input">
                    <label for="account-details-email">Email*</label>
                    <input type="email" id="account-details-email">
                </div>
                <div class="single-input">
                    <label for="account-details-oldpass">Current Password(leave blank to leave
                        unchanged)</label>
                    <input type="password" id="account-details-oldpass">
                </div>
                <div class="single-input">
                    <label for="account-details-newpass">New Password (leave blank to leave
                        unchanged)</label>
                    <input type="password" id="account-details-newpass">
                </div>
                <div class="single-input">
                    <label for="account-details-confpass">Confirm New Password</label>
                    <input type="password" id="account-details-confpass">
                </div>
                <div class="single-input">
                    <button class="torsion-btn torsion-btn_dark" type="submit"><span>SAVE
                                                    CHANGES</span></button>
                </div>
            </div>
        </form>

    </div>
</div>

{% endblock dashboard_page %}