{% extends 'decort_shop/account/main.html' %}
{% load static %}
{% block  title_page %}
<title>Reset your password - Torsion Group</title>
{% endblock title_page %}

{% block dashboard_page %}

<div>
    <div class="myaccount-details">

        <h1>Reset your password</h1>
        {% if validlink %}
        <p>Please enter your new password twice:</p>
        <form action="#" method="post">
            {{ form.as_p }}
            {% csrf_token %}
            <p><input type="submit" value="Change my password"/></p>
        </form>
        {% else %}
        <p>The password reset link was invalid, possibly because it
            has already been used. Please request a new password reset.</p>
        {% endif %}

    </div>
</div>

{% endblock dashboard_page %}