{% extends 'decort_shop/main.html' %}
{% load mptt_tags %}
{% load static i18n %}
{% load decort_shop_tag %}
{% block  title_page %}
<title>Checkout - Torsion Group</title>
{% endblock title_page %}

{% block content_page %}

<div class="checkout-area">
    <div class="container-fluid">
        <div class="row">

            <div class="col-lg-6 col-12">
                <form action="javascript:void(0)">
                    <div class="checkbox-form">
                        <h3>Checkout Details</h3>
                        <div class="row">

                        </div>

                        <div class="different-address">
                            <div class="ship-different-title">
                                <h3>
                                    <label>Shipping address</label>
                                </h3>
                            </div>

                            <div class="order-notes">
                                <div class="checkout-form-list checkout-form-list-2">
                                    <label>Order Notes</label>
                                    <textarea id="checkout-mess" cols="30" rows="10"
                                              placeholder="Notes about your order, e.g. special notes for delivery.">

                                    </textarea>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>

            <div class="col-lg-6 col-12">
                <div class="your-order">
                    <h3>Your order</h3>
                    <div class="your-order-table table-responsive">
                        <table class="table">
                            {% for item in cart %}
                            <thead>
                            <tr>
                                <th class="cart-product-name">Product</th>
                                <th class="cart-product-total">Total</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr class="cart_item">
                                <td class="cart-product-name">{{ item.product.name }}
                                    <strong class="product-quantity"> x {{ item.quantity }}</strong></td>
                                <td class="cart-product-total">
                                    <span class="amount">{{ item.total_price }}</span></td>
                            </tr>
                            </tbody>
                            {% endfor %}
                            <tfoot>
                            <tr class="order-total">
                                <th>Order Total</th>
                                <td><strong><span class="amount">{{ cart.get_total_price }}</span></strong></td>
                            </tr>
                            </tfoot>
                        </table>
                    </div>

                    <div class="payment-method">
                        <div class="payment-accordion">
                            <div class="order-button-payment">
                                <form action="." method="post" class="order-form">
                                    {{ form.as_p }}
                                    <p><input type="submit" value="Place order"></p>
                                    {% csrf_token %}
                                </form>
                            </div>
                        </div>
                    </div>

                </div>
            </div>

        </div>
    </div>
</div>

{% endblock content_page %}